body {
    font-family: Arial;
    margin: 0;
}

#products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 15px;
}

.product {
    border: 1px solid #ddd;
    padding: 10px;
}

button {
    width: 100%;
}

@media (max-width:600px) {
    h1 {
        text-align: center;
    }
}